* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.box {
  width: 50%;
  aspect-ratio: 1;
  background-color: rgb(59, 141, 141);
}

.box-ratio-4-3 {
  width: 20%;
  aspect-ratio: 4 / 3;
  background-color: rgb(72, 67, 145);
}

.img {
  aspect-ratio: 16 / 9;
}

img {
  width: 100%;
}

.list-boxes {
  display: flex;
  width: 100%;
  gap: 10px;
}

.item-box {
  flex-grow: 1;
  aspect-ratio: 1 / 1;
  background-color: rgb(240, 176, 81);
}
